body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
}

.wallet-info {
    position: relative; /* o absolute */
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wallet-info .wallet-name {
    font-weight: bold;
}

.wallet-info .wallet-actions i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.balance {
    text-align: center;
    margin: 20px 0;
}

.balance data {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #777;
}

.balance h1 {
    margin: 0;
    font-size: 2em;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.actions button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.crypto-transact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crypto-transact .transact-data {
    font-weight: bold;
}

.crypto-transact .crypto-transact i {
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #e0e0e0;
}

nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

nav .tab {
    padding: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

nav .tab.active {
    background-color: #fff;
    font-weight: bold;
}

main {
    padding: 10px;
}

.crypto-list {
    display: flex;
    flex-direction: column;
}

.crypto-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.crypto-item i {
    font-size: 30px;
    margin-right: 10px;
}

.crypto-info {
    flex: 1;
}

.crypto-info .crypto-name {
    font-weight: bold;
    text-align: left;
}

.crypto-info .crypto-value {
    color: rgb(51, 4, 73);
    text-align: left;
}

.crypto-info .crypto-amount {
    color: #777;
    text-align: left;
}

.crypto-transact data {
    flex: 1;
    font-weight: bold;
    color: #777;
    text-align: left;
}

.block {
    padding: 5px;
}



footer {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.footer-btn {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer-btn i {
    font-size: 20px;
}

.footer-btn:hover {
    background-color: #f0f0f0;
}

.modal {
    display: none; /* Escondido por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

.warning {
    background-color: #fffbe6;
    color: #856404;
    border: 1px solid #ffeeba;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.qr-code img {
    width: 150px;
    height: 150px;
    margin: 15px 0;
}

.address {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.address i {
    cursor: pointer;
}

.no-memo {
    width: 100%;
    color: #777;
    font-size: 12px;
    flex: 1;
    font-weight: bold;
    text-align: center;
    max-height: 400px; /* Ajusta el tamaño máximo del contenido dinámico */
    overflow-y: auto
}

/* Hace que el div ocupe todo el ancho disponible */
.full-width-text {
    width: 100%;
    padding: 20px; /* Añade algo de espacio alrededor del texto */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    background-color: #f5f5f5; /* Color de fondo para distinguirlo */
    color: #333; /* Color del texto */
    line-height: 1.5; /* Mejora la legibilidad del texto */
}

#progress-container {
    width: 100%;
    background-color: #222; /* Fondo oscuro */
    border: 1px solid #444; /* Borde gris oscuro */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 5px; /* Altura de la barra de progreso */
}

#progress-bar {
    width: 0%; /* Ancho inicial */
    height: 100%; /* Altura completa */
    background: linear-gradient(90deg, rgba(38,198,218,1) 0%, rgba(3,218,198,1) 100%); /* Gradiente azul/verde */
    transition: width 0.4s ease; /* Transición más suave */
}


